.contain {
  width: 96%;
  max-width: 400px;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  font-size: 24px;
  border-radius: 5px;
}

.boxstyle {
  display: flex;
  background: #57C45C;
  color: #000;
  width: 96%;
  max-width: 400px;
  height: 100px;
  margin: auto;
  margin-top: 16px;
  padding: 1rem;
  font-size: 30px;
  align-items: center;
  border-radius: 5px;
}

/* Home.js */
.boxstyle2 {
  display: flex;
  background: #F7FFF7;
  border-style: solid;
  border-color: #57C45C;
  color: #000;
  width: 96%;
  max-width: 400px;
  height: 100px;
  margin: auto;
  margin-top: 16px;
  padding: 1rem;
  font-size: 30px;
  border-radius: 5px;
  align-items: center;
}

/* UnitContent.js */
.boxstyle3 {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  background: #57C45C;
  color: #000;
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 16px;
  padding: 1rem;
  font-size: 24px;
  border-radius: 5px;
}

.boxstyle3 a {
  color: #000;
}

/* used in Stat pages */
.boxstyle4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  background: #57C45C;
  color: #000;
  width: 46%;
  max-width: 200px;
  margin: auto;
  margin-top: 16px;
  padding: 1rem;
  font-size: 24px;
  border-radius: 5px;
}


/* all forms */
.fullFormStyle {
  text-align: center;
  background: #57C45C;
  width: 96%;
  max-width: 400px;
  margin: auto;
  margin-top: 10px;
  padding: 1rem;
  margin-bottom: 10px;
  font-size: large;
  border-radius: 5px;
}

.formTitle {
  color: #fff;
  margin-bottom: 10px;
}
  
.bottomText {
  font-size: medium;
  margin: 12px;
}

.errorText {
  font-size: medium;
  margin: 12px;
  color: #cc0000;
}


.buttonStyle {
  text-align: center;
  background-color: #227D26;
  border: none;
  color: #fff;
  padding: 12px 30px;
  font-size: large;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

.infoBox {
  background: #57C45C;
  color: #000;
  width: 96%;
  max-width: 400px;
  margin: auto;
  margin-top: 10px;
  padding: 1rem;
  font-size: 21px;
  border-radius: 5px;
}

.iconStyle {
  width: 20%;
  margin-right: 10px;
}

.smallText {
  font-size: 20px;
}

.statBoxes {
  display: flex;
  flex-direction: row;
}

.topImg {
  height: 200px;
  width: 100%;
}

/* header styles*/

.headerStyle {
  display: block;
  width: 100%;
  background: #003300;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-Content: space-between;
  align-items: center;
}



