* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.4;
  background: #F7FFF7;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  max-width: 400px;
}

label {
  display: inline-block;
  width: 100%;
}

input {
  width: 70%;
  max-width: 230px;
  margin-top: 3px;
  margin-bottom: 10px;
  padding: 12px 20px;
  border: 0px solid;
  display: inline-block;
  border-radius: 4px;
}

